@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
  .itemContainer {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: row;
  }
  .itemList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;        
  justify-content: center;
  padding: 5vh;
  min-width: calc(100% - 40vh);
  min-height: 100vh;
  }
  .item {
  height: 310px;
  width: 270px;
  background-color: var(--color-g);
  margin: 0.8vh;
  border-radius: 0.7em;
  position: relative;
  text-align: center;
  padding: 2vh 0 0 0;
  }
  .item img {
  height: 9em;
  }
  .itemName {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1px;
  }
  .itemAlt {
  text-align: start;
  margin: 0.5vh 2.5vh;
  }
  .item span {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1em;
  position: absolute;
  bottom: 1px;
  left: 0;
  right: 0;
  padding: 5px;
  border: solid black;
  border-width: 1px 0 1px 0;
  }
  .itemStock {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  color: var(--color-blue);
  }

  /* From uiverse.io by @satyamchaudharydev */
  .item span button {
  --primary-color: var(--color-blue);
  --secondary-color: #fff;
  --hover-color: var(--color-o);
  --arrow-width: 15px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
  }

  .item span button .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .item span button .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
  }

  .item span button .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
  }

  .item span button:hover {
  background-color: var(--hover-color);
  }

  .item span button:hover .arrow {
  background: var(--secondary-color);
  }

  .item span button:hover .arrow:before {
  right: 0;
  }

.categoriesContainer {
  background-color: var(--color-g);
  padding: 2vh 5vh 0 4vh;
  border-right: 1.5px solid black;
}
.categoriesContainer li {
  list-style: none;
}
.categoriesContainer p {
  text-decoration: none;
  color: var(--color-black);
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  cursor: pointer;
  padding: 5px 2px;
  margin-top: 2px;
  text-align: center;
}
.categoriesContainer .selected {
  background-color: rgba(0, 0, 0, 0.278);
}
.categoriesContainer h1 {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  text-decoration: underline;
}
.misMatch {
  background-color: var(--color-g);
  margin: auto;
  padding: 5vh;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  border-radius: 15px;
}