.accordion {
    width: 130vh;
    margin: 0 auto;
}
.accordionItem {
    margin: 1vh;
    background-color: var(--color-o);
}
.accordionTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-left: 12px;
}
.accordionTitle h2 {
    color: var(--color-black);
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
}
.accordionTitle span {
    color: var(--color-black);
    font-size: 2.5em;
    margin-right: 12px;
}
.accordionContent {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
    color: var(--color-black);
}
.accordionContent.show {
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
    color: var(--color-black);
}
.accordionContent p,
.accordionContent.show p {
    font-size: 18px;
    padding: 1vh;
}