@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2? family=Jacques+Francois+Shadow&display=swap');

.containerLanding {
    width: 100%;
}
.landingText {
    position: relative;
    height: calc(100vh - 60px);
}
.text {
    background-color: var(--color-g);
    padding: 2vh 0 0.5vh 0;
    border-bottom: 1px solid black;
}
.text h1 {
    width: 100%;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 4em;
    color: var(--color-black)
}
.text p {
    text-align: center;
    font: 1.5em sans-serif;
    margin: 1vh 20vh;
    color: var(--color-blue);
    font-family: 'Jacques Francois Shadow', cursive;
    border-radius: 20px;
}


.landingText button {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 50px;
    background-color: var(--color-oS);
    border: 0;
    cursor: pointer;
}
.landingText button span {
    font-size: 50px;
}
.landingText button:hover {
    -webkit-box-shadow: inset 0px 0px 30px 1px rgba(0, 0, 0, 0.252);
    -moz-box-shadow: inset 0px 0px 30px 1px rgba(0,0,0,0.5);
    box-shadow: inset 0px 0px 30px 1px rgba(0,0,0,0.5);
    font-size: 58px;
}
.landingText button:hover span{
    transform: scale(1.4,1.4);
}
.filling {
    background-color: var(--color-black);
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.position {
    position: absolute;
    top: 18vh;
    z-index: -1;
}
.slider {
    background-image: url(../../assets/slider/1.jpg);
    background-size: cover;
    height: 80%;
    width: 100%;
    border-radius: 10px;
    animation: animate 20s infinite;
}

@keyframes animate {
    20% {
        background-image: url(../../assets/slider/5.jpg);
        background-size: cover; 
    }
    40% {
        background-image: url(../../assets/slider/4.jpg);
        background-size: cover;
    }
    60% {
        background-image: url(../../assets/slider/3.jpg);
        background-size: cover;
    }
    80% {
        background-image: url(../../assets/slider/2.jpg);
        background-size: cover;
    }
    100% {
        background-image: url(../../assets/slider/1.jpg);
        background-size: cover;
    }
}