.location {
    background-color: var(--color-g);
    padding: 8vh 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}
.location div {
    text-align: center;
    font-family: 'Lato', sans-serif;
}
.location div h2 {
    padding-top: 40px;
}
.location div h2 strong {
    letter-spacing: 1px;
}
.location div p {
    font-size: 20px;
    padding: 40px 0;
}