.footer {
    margin-top: auto;
    background: #3a2213;
    width: 100%;
    height: 6em;
} 
.container {  
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "column1 columns2";
}
.footer li,
.footer p,
.footer h4 {
    color: var(--color-g)
}
.column1 {
    justify-self: center;
    align-self: stretch;
    grid-area: column1;
}
.column1 ul li {
    list-style: none;
    text-align: center;
    margin: 0.5vh;
}
.column1 ul li a { 
    text-decoration: none;
}
.columns2 {
    justify-self: center;
    align-self: stretch;
    grid-area: columns2;
}
.iconosFooter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1vh;
}
.column2 p {
    text-align: center;
}
.iconosFooter a {
    margin: 1vh;
}
.iconosFooter img {
    height: 2em;
}
.iconosFooter img:hover {
    transition-duration: 0.2s;
    transform: scale(1.1,1.1);
}
.footer h4 {
    text-align: center;
    text-decoration: underline;
    color: black;
    background-color: var(--color-oS);
}
@media (max-width: 426px) {
    .footer {
        height: 100%;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
}